h2, p {margin-bottom: 2.4rem}

h1 		       { font: 700 3.0rem/1.2 "Roboto"; color: hsl(000, 0%, 0%); }
h2 		       { font: 700 1.5rem/1.2 "Roboto"; color: hsl(220, 100%, 67%); }
time 	       { font: 700 1.0rem/1.2 "Roboto"; color: hsl(220, 100%, 80%); }
h3 		       { font: 700 1.0rem/1.2 "Roboto"; color: hsl(220, 100%, 80%); }
p 		       { font: 400 1.0rem/1.2 "Roboto"; color: hsl(000, 0%, 33%); }
figcaption p { font: 400 1.0rem/1.2 "Roboto"; color: hsl(000, 0%, 83%); }



@media (max-width: 8.5in) { :root {font-size: 18px; }}
@media (max-width: 5.0in) { :root {font-size: 16px; }}
